@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutFullScreen";
}

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div class="card" data-background="color" data-color="blue">
                                <div class="card-header">
                                    <h3 class="card-title">@ViewData["Title"]</h3>
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="card-content">
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control input-no-border" placeholder="Enter Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control input-no-border" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-fill btn-wd ">Let's go</button>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="forgot">
                                        <p>
                                            <a asp-action="ForgotPassword">Forgot your password?</a>
                                        </p>
                                        <p>
                                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
