@model IndexViewModel
@{
    ViewData["Title"] = "Cashier";
    ViewData.AddActivePage(ManageNavPages.Index);
    Layout = "_LayoutAdmin";
}



<div class="row">

    <div class="col-lg-10 col-md-offset-1">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">New purchase order</h4>
            </div>
            <div class="card-content">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Company"></label>
                                <input asp-for="Company" class="form-control border-input" placeholder="Company" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" class="form-control border-input" value="@DateTime.Now" placeholder="Username" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control border-input" placeholder="Nombre" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control border-input" placeholder="Apellido" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="phone" />
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ManageScriptsPartial")
}
